---
import Layout from "../layouts/Layout.astro";
import '../styles/style.css';
---
<Layout>

	<!-- Mensajes -->
	<div class="alert" id="msgPremio">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<span id="msg"></span>This is an alert box.
	</div>

  <!-- Contador de clics -->
  <div class="counter">
    Clics: <span id="counter">0</span>
  </div>

  <!-- Botón rojo grande y redondo -->
  <button class="red-button">Clic</button>

  <hr />

  <!-- Botón para hacer la apuesta con emojis -->
  <button class="bet-button">🎲 Apuesta 🎲</button>
  
</Layout>
<script  is:inline>
	function generateRandomNumber() {
    	return Math.floor(Math.random() * 11);
	}
</script>
<script>
	  let count = 0;
	  const click = document.querySelector('#counter');
	  const buttons = document.querySelector('button.red-button');
	  const spanClicks = document.querySelector('span#counter');
	  //const apuesta = document.querySelector('button.bet-button');

	  // Cargo Inicialmente un Nº Random
	  window.addEventListener('load', () => {
		console.log(generateRandomNumber());
	  });

	  // Click Counter
	  buttons.addEventListener('click', () => {
		count++;
		spanClicks.textContent = count.toString();
    });
</script>