---
import Layout from "../layouts/Layout.astro";
import Alerts from "../components/Alerts.astro";
import Button from "../components/Button.astro";
import Premio from "../components/Premio.astro";
import "../styles/style.css";
---

<Layout>
  <!-- Contador de clics -->
  <div class="counter">
    Tu Apuesta: <span id="counter">0</span>
  </div>

  <Premio />

  <div id="game">
    <!-- COMPONENTE Botón rojo grande y redondo -->
    <Button cssButton="red-button" textButton="Click" />
    <hr />
    <!-- COMPONENTE Alert -->
    <div id="MsgError" style="display:none">
      <Alerts
        idAlert="MsgError"
        cssAlert="alert alert-red"
        textAlert="NO has acertado, Intétalo de nuevo"
      />
    </div>

    <!-- COMPONENTE Botón para hacer la apuesta con emojis -->
    <Button cssButton="bet-button" textButton="🎲 Realizar Apuesta 🎲" />
  </div>
</Layout>

<script>
  let count = 0;
  let apuesta = 0;

  let buttonClick = document.querySelector("button.red-button");
  let spanClicks = document.querySelector("span#counter");
  let btnApuesta = document.querySelector("button.bet-button");

  let MsgPerdida = document.querySelector("div#MsgError");
  let MsgGanador = document.querySelector("div#divGanador");
  let game = document.querySelector("div#game");

  // Generar Número
  function generateRandomNumber() {
    apuesta = Math.floor(Math.random() * 11);
    //console.log("APUESTA:" + apuesta);
    return apuesta;
  }

  // Cargo Inicialmente un Nº Random
  window.addEventListener("load", () => {
    generateRandomNumber();
  });

  // Reset
  function resetGame() {
    count = 0;
    generateRandomNumber();
    buttonClick.setAttribute("style", "background:red");
    buttonClick.textContent = "Click";
    MsgPerdida.setAttribute("style", "display:none");
    btnApuesta.setAttribute("style", "display:inline");
  }

  // Click Counter
  buttonClick.addEventListener("click", () => {
    // Contador
    if (buttonClick.textContent != "Click") {
      resetGame();
    } else {
      count++;
      count = count == 11 ? 0 : count;
    }
    spanClicks.textContent = count.toString();
  });

  // Click Apuesta
  btnApuesta.addEventListener("click", () => {
    // Perdiste
    buttonClick.setAttribute("style", "background:grey");
    MsgPerdida.setAttribute("style", "display:inline");
    btnApuesta.setAttribute("style", "display:none");
    buttonClick.textContent = "Jugar de Nuevo";
    if (count == apuesta) {
      // Ganaste
      MsgGanador.setAttribute("class", "show");
      game.setAttribute("class", "hidden");
    }
  });
</script>
