<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Apuesta al clic</title>

  <style is:global>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 20px;      
      background-color: #FFA;
    }

    /* Estilo para el título */
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }    
  </style>
</head>
    <body>
        <h1>Apuesta al clic</h1>
        <slot/>    
    </body>
</html>